@model denemenet.Models.Tables.mesaj

@{
    ViewBag.Title = "Yorum Delete";
    Layout = "~/Views/adminEWD/ewdLayout.cshtml";


}
<head>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<body>
    <h2 class="text-center">MESAJ SİLME EKRANI</h2>
    <hr />
    <div class="text-center">
        <h2>Silmek İstediğinize Emin Misiniz?</h2>

        @using (Html.BeginForm())
        {
            <div class="">
                <input type="submit" value="Sil" class="btn btn-danger center-margin" />
                @Html.ActionLink("VAZGEÇ", "yorum", "admin", new { }, new { @class = "btn center-margin" })
            </div>
        }
        @*@Html.ActionLink("SİL", "urundelete", "adminEWD", new { }, new { @class = "btn btn-danger" })*@

    </div> <hr />
    <br />
    <br />
    <div class="text-center">
        <h2>YORUM BİLGİSİ</h2>

        <div class="center-margin" style="margin:auto;">
            <div class="">

                <span>İD:</span> <strong>@Model.ID</strong>
            </div>
            <div class="">
                <span>KULLANICI:</span> <strong>@Model.name</strong>
            </div>
            <div class="">
                <span>URUN ADİ:</span> <strong>@Model.urun.Adi</strong>
            </div>
            <div class="">
                <span>MAİL:</span> <strong>@Model.mail</strong>
            </div>
            <div class="">
                <span>ZAMAN:</span> <strong>@Model.Time</strong>
            </div>
            <div class="">
                <span>MESAJ:</span> <strong>@Model.text</strong>
            </div>
           

        </div>



    </div>
</body>