@model denemenet.Models.AllModelView
@{
    ViewBag.Title = "ozet";
    Layout = "~/Views/admin/AdminLayout.cshtml";

}

<div class="col-md-6 col-sm-6  ">
    <div class="x_panel">
        <div class="x_title">
            <h2>KATAGORİLER <br />Katagori Sayısı: @Model.KatagoriListesi.Count</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Settings 1</a>
                        <a class="dropdown-item" href="#">Settings 2</a>
                    </div>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <h2>Son Katagori</h2>
            <table class="table table-striped">
                <thead>
                    <tr>

                        <th>ID </th>
                        <th>KATAGORİ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.KatagoriListesi.LastOrDefault().ID</td>
                        <td>@Model.KatagoriListesi.LastOrDefault().name</td>
                        <td></td>
                    </tr>
                   
                    <tr>


                        <td>KATAGORİ TABLOSUNA</td>
                        <td></td>
                        <td> GİT</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-6 col-sm-6  ">
    <div class="x_panel">
        <div class="x_title">
            <h2>ÜRÜNLER
            <br />Ürün Sayısı:   @Model.UrunListesi.Count</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Settings 1</a>
                        <a class="dropdown-item" href="#">Settings 2</a>
                    </div>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <h2>Son Ürün</h2>
            <table class="table table-striped">
                <thead>
                    <tr>

                        <th>ÜRÜN </th>
                        <th>KATAGORİ</th>
                        <th>Resim Sayısı</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.UrunListesi.LastOrDefault().Adi</td>
                        <td>@Model.KatagoriListesi.LastOrDefault().name</td>
                        <td>@Model.UrunListesi.LastOrDefault().resim1.Count</td>
                    </tr>
                    <tr>


                        <td>ÜRÜN TABLOSUNA </td>
                        <td></td>
                        <td>GİT</td>
                    </tr>
                
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-6 col-sm-6  ">
    <div class="x_panel">
        <div class="x_title">
            <h2>RESİMLER <br />Resim Sayısı:@Model.ResimListesi.Count</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">----</a>
                        <a class="dropdown-item" href="#">----</a>
                    </div>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <h2>Son Eklenen Resim</h2>
            <table class="table table-striped">
                <thead>
                    <tr>

                        <th>ÜRÜN</th>
                        <th>KATAGORİ</th>
                        <th>ZAMAN</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.ResimListesi.FirstOrDefault().urun.Adi</td>
                        <td>@Model.ResimListesi.LastOrDefault().ID</td>
                        <td>@Model.ResimListesi.LastOrDefault().resimYolu</td>
                    </tr>
        
                 
                    <tr>


                        <td>RESİMLER TABLOSUNA</td>
                        <td></td>
                        <td>GİT</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-6 col-sm-6  ">
    <div class="x_panel">
        <div class="x_title">
            <h2>MESAJLAR <br /> Mesaj Sayısı:@Model.MesajListesi.Count</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Settings 1</a>
                        <a class="dropdown-item" href="#">Settings 2</a>
                    </div>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content"><h2 >Son Mesaj</h2>
            <table class="table table-striped">
                <thead>
                    <tr>

                        <th> ÜRÜN</th>
                        <th>KULLANICI</th>
                        <th>ZAMAN</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.MesajListesi.FirstOrDefault().urun.Adi</td>
                        <td>@Model.MesajListesi.LastOrDefault().name</td>
                        <td>@Model.MesajListesi.LastOrDefault().Time</td>
                    </tr>
                    <tr>



                        <td> 5 YENİ MESAJ</td>

                        <td></td>
                        <td>LİNK GİT</td>
                    </tr>
                 
                </tbody>
            </table>
        </div>
    </div>
</div>

