
@{
    ViewBag.Title = "MarkaFelsefe";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<h1>MarkaFelsefe</h1>
<h3>@FakeData.TextData.GetSentences(1)
 </h3>
<p>
    @FakeData.TextData.GetSentences(50)
</p>
<h3>
    @FakeData.TextData.GetSentences(1)
</h3>
<p>
    @FakeData.TextData.GetSentences(50)
</p>
<h3>
    @FakeData.TextData.GetSentences(1)
</h3><p>
    @FakeData.TextData.GetSentences(50)
</p>

