@model denemenet.Models.UrunModelView

@{
    ViewBag.Title = "urunler";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
   
    
}

<div class="row">

    @foreach (var urn in Model.UrunListesi)

    {
        
        <div class="col-md-6 col-lg-4">
            

            <article class="card">
                @*href="~/urun/detayurun/id seklindeydi"*@
              
                <a href="  @Url.Action("detayurun", "urun", new { id = urn.id })" title="@urn.katagori.name">
                    <div class="image-holder">
                        <img src="~/image/urun_resim/@urn.Resim " class="" alt="@urn.katagori.name" title="@urn.katagori.name">
                    </div>
                    @*<h1>@urn.Adi @urn.katagori.ID  </h1>*@
                    <div class="article-content">
                        <h3>@urn.Adi </h3>
                    </div>
                </a>
            </article>

        </div>
    }




</div>
